<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Animal Shelter</title>

        <script src="https://cdn.tailwindcss.com"></script>

        <!-- Saját CSS -->
        <link rel="stylesheet" href="/css/style.css" />

        <link
            rel="icon"
            type="image/svg+xml"
            href="../../static/img/dog-paw-svgrepo-com.svg"
        />
    </head>
    <!--Ezen nézheted meg a felhasználók listáját: 
http://localhost:8080/animals/view-->
    <body
        class="custom-bg bg-gray-100 flex justify-center items-center min-h-screen"
    >
       
            <div class="bg-white shadow-lg rounded-xl p-8 w-full max-w-md">
                <!--sor-->
                <div class="col-md-4">
                    <h1 class="text-3xl font-bold text-center mb-6">
                        Animal Shelter
                    </h1>

                    <!--th =thymeleaf
                    each=foreach
                    us a modelből jön.
                    Végigmegyünk a us listán, minden elem animal néven lesz elérhető a <tr>-ban.-->
                    <table class="table-auto border-collapse w-full">
                        <thead>
                            <tr class="bg-blue-200">
                                <th class="border px-4 py-2">Name</th>
                                <th class="border px-4 py-2">Weight</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!--Ez egy foreach:-->
                            <!-- Az AnimalsController.java-ban a model.addAttribute("ani", animals") segítségével hivatkozunk a modelre. -->
                            <!--A lenti sorban kell a szóköz a kettőspont előtt!-->
                            <tr
                                th:each="animal:${ani}"
                                class="hover:bg-gray-100"
                            >
                                <td
                                    th:text="${animal.name}"
                                    class="border px-4 py-2"
                                ></td>
                                <td
                                    th:text="${animal.weight}"
                                    class="border px-4 py-2"
                                ></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="container text-center mt-5">
                <!--Fontos, hogy get legyen a method, mert az add.html egy statikus oldal.-->
                <form action="/add.html" method="get">
                    <input
                        type="submit"
                        class="relative overflow-hidden w-full bg-purple-500 text-white font-semibold py-2 rounded-lg cursor-pointer before:absolute before:inset-0 before:bg-gradient-to-r before:from-white before:via-white/40 before:to-white/0 before:translate-x-[-100%] before:animate-[shine_1.5s_infinite] hover:bg-black-600"
                        value="Add a new animal"
                    />
                </form>
            </div>

            <div class="container text-center mt-5">
                <form action="/" method="get">
                    <input
                        type="submit"
                        class="relative overflow-hidden w-full bg-green-500 text-white font-semibold py-2 rounded-lg cursor-pointer before:absolute before:inset-0 before:bg-gradient-to-r before:from-white before:via-white/40 before:to-white/0 before:translate-x-[-100%] before:animate-[shine_1.5s_infinite] hover:bg-black-600"
                        value="Back to the main page"
                    />
                </form>
                <br />
                <div class="col-md-4">
                    <a
                        href="https://github.com/Nagraggini/animal_shelter"
                        class="text-blue-600 hover:underline"
                    >
                        Source code
                    </a>
                </div>
            </div>
       
    </body>
</html>
