.custom-bg {
    background: url("/img/paws.jpg") center/cover no-repeat;
}

@keyframes shine {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}
